accelerate==1.11.0
beartype==0.22.9
einops==0.8.2
huggingface_hub>=0.20.0
librosa==0.11.0
loralib==0.1.2
ml_collections==1.1.0
numpy
omegaconf==2.3.0
rotary_embedding_torch==0.8.9
scipy
soundfile
torchcodec
transformers==4.41.2
